<!--<div class="col">-->
<!--<div class="card shadow-sm">-->
<!--  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" style="background-color: white;">-->

<!--    <image xlink:href="{{ product.product_image.url }}" width="100%" height="100%" />-->
<!--  </svg>-->
<!--  <div class="card-body">-->
<!--    <p class="card-text">-->
<!--      {{ product|title }}-->
<!--      <p>-->
<!--      {% if product.is_active %}-->
<!--        {{ product.description }}-->
<!--        <p>-->
<!--        ЦЕНА: {{ product.product_price }} руб.-->
<!--      {% else %}-->
<!--      <span class="text-muted">{{ object|title }}</span>-->
<!--      {% endif %}-->
<!--    </p>-->
<!--    <div class="d-flex justify-content-between align-items-center">-->
<!--      <div class="btn-group">-->
<!--&lt;!&ndash;        <a href="{% url 'mainapp:product_page' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Просмотр</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="openView()">В корзину</button>&ndash;&gt;-->
<!--      </div>-->
<!--&lt;!&ndash;      <script>&ndash;&gt;-->
<!--&lt;!&ndash;          function openView() {&ndash;&gt;-->
<!--&lt;!&ndash;          window.location.href = "{% url 'mainapp:product_page' %}";&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;      </script>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->