{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}


<div class="col-12 mb-5" xmlns="http://www.w3.org/1999/html">
        <a class="btn btn-outline-primary" href="{% url 'mainapp:product_form_create' %}">Добавить продукт</a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in product_list %}
          <div class="col">
            <div class="card shadow-sm">
              {% if product.product_image %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                     style="background-color: white;"><image xlink:href="{{ product|get_image }}" width="100%" height="100%" /></svg>
              {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                     style="background-color: white;"><image xlink:href="{{ '/media/products/no_photo.png' }}" width="100%" height="100%" /></svg>
              {% endif %}
              <div class="card-body">
                <p class="card-text">
                  <span class="fw-bold">{{ product|title }}</span>
                <p>
                  {{ product.description|slice:":100" }}
                <p>
                <p>
                  {% for version in product.version_set.all %}
                        {% if version.vers_is_active %}
                        Версия: {{ version.version_name }}
                        {% endif %}
                    {% endfor %}
                <p>
                <p>
                  ЦЕНА: {{ product.product_price }} руб.
                <p>
                <span class="text-muted">{{ product.product_user|default:"Без пользователя" }}</span>
                  </p>
                <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">
                    <a href="{% url 'mainapp:product_page' product.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                    {% if product.product_user != users.user or user.is_superuser %}
                    <a href="{% url 'mainapp:product_form' product.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url 'mainapp:product_confirm_delete' product.pk %}" type="button" class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

{% endblock %}